production:
  token: "1234567890"
  branch: "master"
  hook_path: "/"
  build_path: "/home/huangzhi/src/sinatra-proxy"
  github_name: "railsbp/rails-bestpractices.com"

test:
  token: "1234567890"
  branch: "master"
  hook_path: "/"
  build_path: "/home/huangzhi/src/sinatra-proxy"
  github_name: "railsbp/rails-bestpractices.com"
